# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Indexing-and-selecting-data" data-toc-modified-id="Indexing-and-selecting-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Indexing and selecting data</a></div><div class="lev2 toc-item"><a href="#Some-notes-on-selecting-data" data-toc-modified-id="Some-notes-on-selecting-data-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Some notes on selecting data</a></div><div class="lev3 toc-item"><a href="#data[]-provides-some-convenience-shortcuts" data-toc-modified-id="data[]-provides-some-convenience-shortcuts-111"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span><code>data[]</code> provides some convenience shortcuts</a></div><div class="lev3 toc-item"><a href="#Systematic-indexing-with-loc-and-iloc" data-toc-modified-id="Systematic-indexing-with-loc-and-iloc-112"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Systematic indexing with <code>loc</code> and <code>iloc</code></a></div><div class="lev2 toc-item"><a href="#Boolean-indexing-(filtering)" data-toc-modified-id="Boolean-indexing-(filtering)-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Boolean indexing (filtering)</a></div><div class="lev2 toc-item"><a href="#Some-other-useful-methods:-isin-and-string-methods" data-toc-modified-id="Some-other-useful-methods:-isin-and-string-methods-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Some other useful methods: <code>isin</code> and string methods</a></div><div class="lev2 toc-item"><a href="#Pitfall:-chained-indexing-(and-the-'SettingWithCopyWarning')" data-toc-modified-id="Pitfall:-chained-indexing-(and-the-'SettingWithCopyWarning')-14"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Pitfall: chained indexing (and the 'SettingWithCopyWarning')</a></div><div class="lev1 toc-item"><a href="#Groupby-operations" data-toc-modified-id="Groupby-operations-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Groupby operations</a></div><div class="lev2 toc-item"><a href="#Some-'theory':-the-groupby-operation-(split-apply-combine)" data-toc-modified-id="Some-'theory':-the-groupby-operation-(split-apply-combine)-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Some 'theory': the groupby operation (split-apply-combine)</a></div><div class="lev2 toc-item"><a href="#And-now-applying-this-on-some-real-data" data-toc-modified-id="And-now-applying-this-on-some-real-data-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>And now applying this on some real data</a></div><div class="lev2 toc-item"><a href="#Acknowledgement" data-toc-modified-id="Acknowledgement-23"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Acknowledgement</a></div>

# Indexing and selecting data

Setting the index to the country names:

In [ ]:
countries = countries.set_index('country')
countries

## Some notes on selecting data

One of pandas' basic features is the labeling of rows and columns, but this makes indexing also a bit more complex compared to numpy. We now have to distuinguish between:

- selection by label (index or column name)
- selection by position.

### `data[]` provides some convenience shortcuts

For a DataFrame, basic indexing selects the columns.

Selecting a single column:

In [ ]:
countries['area']

or multiple columns:

In [ ]:
countries[['area', 'population']]

But, slicing accesses the rows:

In [ ]:
countries['France':'Netherlands']

<div class="alert alert-danger">
    <b>NOTE</b>: Unlike slicing in numpy, the end label is **included**.
</div>

So as a summary, `[]` provides the following convenience shortcuts:

- Series: selecting a label: `s[label]`
- DataFrame: selecting a single or multiple columns: `df['col']` or `df[['col1', 'col2']]`
- DataFrame: slicing the rows: `df['row_label1':'row_label2']` or `df[mask]`

### Systematic indexing with `loc` and `iloc`

When using `[]` like above, you can only select from one axis at once (rows or columns, not both). For more advanced indexing, you have some extra attributes:
    
* `loc`: selection by label
* `iloc`: selection by position

These methods index the different dimensions of the frame:

* `df.loc[row_indexer, column_indexer]`
* `df.iloc[row_indexer, column_indexer]`

Selecting a single element:

In [ ]:
countries.loc['Germany', 'area']

But the row or column indexer can also be a list, slice, boolean array, ..

In [ ]:
countries.loc['France':'Germany', ['area', 'population']]

Selecting by position with `iloc` works similar as indexing numpy arrays:

In [ ]:
countries.iloc[0:2,1:3]

The different indexing methods can also be used to assign data:

In [ ]:
countries2 = countries.copy()
countries2.loc['Belgium':'Germany', 'population'] = 10

In [ ]:
countries2

## Boolean indexing (filtering)

Often, you want to select rows based on a certain condition. This can be done with 'boolean indexing' (like a where clause in SQL). 

The indexer (or boolean mask) should be 1-dimensional and the same length as the thing being indexed.

In [ ]:
countries['area'] > 100000

In [ ]:
countries[countries['area'] > 100000]

<div class="alert alert-success">
    <b>EXERCISE</b>: Add a column `density` with the population density (note: population column is expressed in millions)
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Select the capital and the population column of those countries where the density is larger than 300
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Add a column 'density_ratio' with the ratio of the density to the mean density
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Change the capital of the UK to Sheffield
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Select all countries whose population density is between 100 and 300 people/km²
</div>

## Some other useful methods: `isin` and string methods

The `isin` method of Series is very useful to select rows that may contain certain values:

In [ ]:
s = countries['capital']

In [ ]:
s.isin?

In [ ]:
s.isin(['Berlin', 'London'])

This can then be used to filter the dataframe with boolean indexing:

In [ ]:
countries[countries['capital'].isin(['Berlin', 'London'])]

Let's say we want to select all data for which the capital starts with a 'B'. In Python, when having a string, we could use the `startswith` method:

In [ ]:
'Berlin'.startswith('B')

In pandas, these are available on a Series through the `str` namespace:

In [24]:
countries['capital'].str.startswith('B')

country
Belgium            True
France            False
Germany            True
Netherlands       False
United Kingdom    False
Name: capital, dtype: bool

For an overview of all string methods, see: http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling

<div class="alert alert-success">
    <b>EXERCISE</b>: Select all countries that have capital names with more than 7 characters
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Select all countries that have capital names that contain the character sequence 'am'
</div>

## Pitfall: chained indexing (and the 'SettingWithCopyWarning')

In [27]:
countries.loc['Belgium', 'capital'] = 'Ghent'

In [28]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510      Ghent        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

In [29]:
countries['capital']['Belgium'] = 'Antwerp'

/home/joris/miniconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [30]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510    Antwerp        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

In [31]:
countries[countries['capital'] == 'Antwerp']['capital'] = 'Brussels'

/home/joris/miniconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [32]:
countries

                  area    capital  population     density  density_ratio
country
Belgium          30510    Antwerp        11.3  370.370370       1.355755
France          671308      Paris        64.3   95.783158       0.350618
Germany         357050     Berlin        81.3  227.699202       0.833502
Netherlands      41526  Amsterdam        16.9  406.973944       1.489744
United Kingdom  244820  Cambridge        64.9  265.092721       0.970382

How to avoid this?

* Use `loc` instead of chained indexing if possible!
* Or `copy` explicitly if you don't want to change the original data.

# Groupby operations

## Some 'theory': the groupby operation (split-apply-combine)

The "group by" concept: we want to **apply the same function on subsets of your dataframe, based on some key to split the dataframe in subsets**

This operation is also referred to as the "split-apply-combine" operation, involving the following steps:

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

<img src="img/splitApplyCombine.png">

Similar to SQL `GROUP BY`

The example of the image in pandas syntax:

In [46]:
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],
                   'data': [0, 5, 10, 5, 10, 15, 10, 15, 20]})
df

   data key
0     0   A
1     5   B
2    10   C
3     5   A
4    10   B
5    15   C
6    10   A
7    15   B
8    20   C

Using the filtering and reductions operations we have seen in the previous notebooks, we could do something like:


    df[df['key'] == "A"].sum()
    df[df['key'] == "B"].sum()
    ...

But pandas provides the `groupby` method to do this:

In [47]:
df.groupby('key').aggregate(np.sum)  # 'sum'

     data
key
A      15
B      30
C      45

In [48]:
df.groupby('key').sum()

     data
key
A      15
B      30
C      45

And many more methods are available.

## And now applying this on some real data

We go back to the titanic survival data:

In [49]:
df = pd.read_csv("data/titanic.csv")

In [50]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<div class="alert alert-success">
    <b>EXERCISE</b>: Using groupby(), calculate the average age for each gender.
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Calculate the average survival ratio for all passengers.
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Calculate this survival ratio for all passengers younger that 25 (remember: filtering/boolean indexing).
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Create a new column called isfemale that is equal to 1 if female and 0 if male (tip: create a function and use apply)
</div>

Another way to do it is to use a map

<div class="alert alert-success">
    <b>EXERCISE</b>: Make a bar plot of the survival ratio for the different classes ('Pclass' column) and Gender.
</div>

<div class="alert alert-success">
    <b>EXERCISE</b>: Use the function corr() to plot the correlation between 'Pclass','isfemale','Parch','SibSp','Survived','Age' (tip: use the help ? function)
</div>

## Acknowledgement

> *© 2015, Stijn Van Hoey and Joris Van den Bossche. Licensed under [CC BY 4.0 Creative Commons](http://creativecommons.org/licenses/by/4.0/)*

> This notebook is partly based on material of Jake Vanderplas (https://github.com/jakevdp/OsloWorkshop2014).

---